{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 33.16518133254984,
        "longitude": -96.99927861819754,
        "elevation": 163,
        "unit_system": "imperial",
        "location_name": "1007",
        "time_zone": "America/Chicago",
        "external_url": null,
        "internal_url": null,
        "currency": "USD"
    }
}